<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>ProductController</display-name>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.project.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>DescriptionController</display-name>
        <servlet-name>DescriptionController</servlet-name>
        <servlet-class>com.project.DescriptionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DescriptionController</servlet-name>
        <url-pattern>/DescriptionController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>WishListController</display-name>
        <servlet-name>WishListController</servlet-name>
        <servlet-class>com.project.WishListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WishListController</servlet-name>
        <url-pattern>/WishListController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CartController</display-name>
        <servlet-name>CartController</servlet-name>
        <servlet-class>com.project.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>com.project.CheckoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
</web-app>
