/* 
    Created on : Apr 4, 2017, 10:25:25 PM
    Author     : memos
*/

body {
    background-color: darkgray;
    font-family: Arial;

}

h1 {
    letter-spacing: 3px;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

h2 {
    font-size: 1.4em;
    color: white;
    font-weight: normal;
}

table {
    width: 550px;
    padding: 10px;
    background-color: lightgray;
}

table, th, td {
    border: 1px solid black;
    padding: 20px;
}

td {
    vertical-align: middle;
    text-align: left;
    padding: 10px;
    color: black;
    background-color: lightgray;
}

th {
    background-color: lightgray;
    color: black;
    text-align: left;
    vertical-align: middle;
}


a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: lightgray;
}


a:active {
    color: lightgray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: lightgray;
}
li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}


li a.active {
    color: white;
    background-color: black;
}




